
pre[class*="language-"] {
  display: flex; //fix height
  background-color: #222526;
  padding: 20px 5px; // prevent icon overlap
  margin: 1em 0;
  position: relative;

  code {
    padding: 0.5em;
    line-height: 0.8;
  }
}

.prism-container {
  position: relative;
  mat-icon {
    transform: scale(0.7); //resize icon 
    position: absolute;
    z-index: 2; //show icon above pre
    top: 0px;
    right: 0px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}