
//increase height and center vertically
.mat-mdc-tab-label-container {
  height: 100px;
  align-items: center;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: #f44336;
}

.mat-mdc-tab-body-content  app-prism-codeblock {
  display: block;
  width: 50%;
  margin: 0 auto;
}